[Unit]
Description=Node Exporter  
After=network.target 

[Service] 
Group=node_exporter 
User=node_exporter 
Type=simple 
ExecStart=/usr/local/bin/node_exporter --collector.systemd 

[Install]                                         
WantedBy=multi-user.target  